[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.opensdf
*.blend1
*.blend2
__pycache__/
*.pyc
Assets/Generated/
